<% @artists.each do |artist| %>

  <%= link_to artist.name, artist_path(artist) %>
  <%= artist.song_count.to_s + " songs:"%>

  <ul>
    <% artist.songs.each do |song| %>
    <li><%= link_to song.title, song_path(song) %></li>
    <% end %>
  </ul>

<% end %>
